
body {
    font-family: 'MyriadPro';
    font-size: 16px;
    color: #1c0709;
    cursor: default;
}

h1, h2, h3 {

    font-family: 'Berkshire Swash', cursive;
    color: #6d4546;
}

header {
    height: 680px;
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-attachment: fixed;


}



button,
button:active,
button:focus {
    outline: none;
}



nav{
    height: 65px;
    background-color: rgba(109, 69, 70, .6);

}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 7px 50px 15px 10px;

}
.menu li{

    padding: 0 30px;
    text-transform: uppercase;

}
.menu li a {
    color: #d7c6be;
    font-size: 16px;
    background-color: transparent;
    border-radius: 20% 5%;
    transition: 1s background-color;
    transition: 2s color;
}

.menu li a:hover,
.menu li a:focus {
    text-decoration: none;
    color: #6d4546;
    background-color: #f5f1ef;
}



.logo {
    padding: 0 5px 0 50px;

}

.logo img {
    width: 100%;
}


.title_block {
    background-color: rgba(62, 40, 40, .4);
    color: #d7c6be;

    text-align: center;
    margin-top: 200px;
    padding: 20px;
    border-radius: 20% 5%;

}

.title_block h1 {
    font-size: 50px;
    margin-bottom:50px;
    text-align: center;
    color: #ece3df;


}



.title_block p {
    font-size: 20px;


}

.title_block p::before {

    content: url(../img/bgr_top.png);
    display: block;

}
.title_block p::after {

    content: url(../img/bgr_bottom.png);
    display: block;


}














#block1 {
    margin-top: 50px;
    padding: 30px 0;
    text-align: center;
}

.block1_item {
    padding: 30px 10px;
    border: 1px solid #f5f1ef;
    border-radius: 0 0;
    background-color: #ffffff;
    transition: 1s box-shadow ;
    transition: .3s border-radius;
}


.block1_item:hover {
    box-shadow:10px 10px 10px #d7c6be;
    border-radius: 20% 5%;
    background-color: #f5eff0;
}



.block1_item h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(107, 24, 30);
    transition: .5s text-shadow ;
    font-family: 'MyriadPro';

}

.block1_item:hover  h3 {

    text-shadow: 5px 5px 5px #d7c6be;
}















#block2 {
    background-color: #f5f1ef;
    text-align: center;
    padding: 50px 0;

}


.modal_img {
    margin-top: 200px;
    width: 60%;
    border: 20px solid rgba(215, 198, 190, .3);
    box-shadow: 5px 5px 20px;

}



#block2 h1, .block2_cont h3 {
    margin-bottom: 40px;
}


.block2_cont{
    opacity: 0;
}
.block2_cont h3 {
    font-family: 'MyriadPro';
}

#block2 h1 {
    text-transform: capitalize;
    font-family: 'Berkshire Swash', cursive;

}
#block2 h1::after {

    content: url(../img/bgr_bottom2.png);
    display: block;
}


.block2_item div {
    padding:0;

}


.block2_item div h3 {
    padding-left: 20px;
    margin-bottom: 10px;
    text-align: left;
    font-family: 'MyriadPro';
}

.block2_item div a {
    display: block;
    text-align: left;
}
.read_more i {
    padding-left: 50px;
}
.read_more span {
    text-transform: uppercase;
    font-size: 12px;

}

.read_more i, .read_more span {
    color: #6d4546;
    padding-bottom: 20px;
}




.img_block{
    position: relative;
    overflow: hidden;
}



.img_border{
    border: 0;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 0 rgba(109, 69, 70, .6);
    color: rgba(109, 69, 70, .6);

}




.img_border img {
    width: 100%;
    transition: all 0.2s linear;
    border: 3px solid rgba(215, 198, 190, .3);
    box-sizing: border-box;
}




.img_border::before, .img_border::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    z-index: 6;


}



.img_border:hover {
    color: rgba(215, 198, 190, .6);
}
.img_border::before, .img_border::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    transform-origin: center;
}
.img_border::before {
    border-top: 15px solid rgba(215, 198, 190, .6);
    border-bottom: 15px solid rgba(215, 198, 190, .6);

    transform: scale3d(0, 1, 1);
}
.img_border::after {
    border-left: 15px solid rgba(215, 198, 190, .6);
    border-right: 15px solid rgba(215, 198, 190, .6);

    transform: scale3d(1, 0, 1);
}
.img_border:hover::before, .img_border:hover::after {
    transform: scale3d(1, 1, 1);
    transition: transform 1s ease-in-out;

}



.img_wrap{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #d7c6be;
    text-align: center;

    display: flex;

    background-color: rgba(107, 24, 30, .3);
    opacity: 0;
}


.img_block:hover img {
    transform: scale(1.1);
}
.img_block:hover .img_wrap{
    opacity: 1;
}

.img_wrap div {
    margin: auto;
}
.fa-search {
    font-size: 30px;
    color:  #d7c6be;
    text-align: center;
}



































#block4{

    background-color: #f5f1ef;
    padding: 30px 0 30px 30px;




}



.block4_cont_main{
    border-left: 10px solid rgba(109, 69, 70, .6);
    padding-left: 30px;
    text-indent: 15px;

    opacity: 0;
}
.block4_cont_main h2 {
    text-align: center;
}

#block4_blockquote {
    text-align: right;
    color: #6d4546;
    font-style: italic;
    padding-left: 30px;
    margin-top: -20%;
    border: none;
    border-right: 5px solid #d7c6be;

}



#block4_blockquote:before {
    color: #d7c6be;
    content: "\201C";
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.2em;
    vertical-align: -.4em;
}

#block4_blockquote:after {
    color: #d7c6be;
    content: "\201D";
    font-size: 3em;
    line-height: 0.1em;
    vertical-align: -.45em;
}

#block4_blockquote > p:first-child {
    display: inline;
}



.block4_img_block{
    margin-top: 5%;
    margin-left: 15%;


}






.row1 {
    display: flex;
    flex-direction: column;
}
.left, .row2 {
    display: flex;
    flex-direction: row;
}

.right_row {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

.row2 {
    align-items: flex-end;
    margin-top: -165px;
}


.img_cont{
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    overflow: hidden;
    color: #6d4546;

}

.img_cont img, #img_center{
    width: 100%;
    border: 1px solid #ffffff;
    box-sizing: border-box;

}

#img_center{
    width: auto;
    height: auto;
    margin-top: -2px;
}

.img_cont .content {
    width: 225px;
    height: 390px;
    position: absolute;
    overflow: hidden;
    top: 130px;
    left: 0;


}
.img_cont .content p, .img_cont .content h2 {
    font-family: 'MyriadPro';
}



.img_cont .mask {

    position: absolute;
    overflow: hidden;
    background-color: rgba(215, 198, 190, .6);
    width: 800px;
    height: 600px;
    padding: 60px;
    top: 150px;
    left: -100px;
    opacity: 0;
    transform: translate(265px, 145px) rotate(45deg);
    transition: all .3s ease-in-out;
}


.img_cont_horizontal .mask {
    top: 50px;
}
.img_cont_horizontal .content {
    left: 90px;
    top: 50px;
}








.img_cont:hover .mask {
    opacity:1;
    transform: translate(-80px, -125px) rotate(45deg);
}

.img_cont h2{

    transform: translateY(-200px);
    transition: all 0.2s ease-in-out;
}
.img_cont p {
    transform: translateY(-200px);
    transition: all 0.2s ease-in-out;
}




.img_cont:hover h2 {
    transform: translateY(0px);
    transition-delay: 0.5s;
}
.img_cont:hover p {
    transform: translateY(0px);
    transition-delay: 0.4s;
}































#block3{
    min-height: 400px;
    background-image: url(../img/38.jpg);
    background-attachment: fixed;
    padding: 50px 0;

}

.menu_more {
    text-align: center;
    color: #ece3df;

    opacity: 0;

}






.menu_more  h2 {
    font-size: 300%;
    margin-bottom: 50px;
    color: #ece3df;

}

.menu_more p{
    font-size: 120%;


}



.menu_more p::after {

    content: url(../img/bgr_bottom.png);
    display: block;

}




















#block5 {
    background-image: url(../img/50.jpg);
    background-size: cover;
    background-attachment: fixed;
}





.block5_content_text {
    background-color: rgba(255,255,255, 1);
    background: linear-gradient(to left, rgba(255,255,255, 1) 30%, rgba(255,255,255, .9));
    padding: 30px 150px 30px 100px;

}
.block5_content_text, .block5_content_text_item div {
    display: flex;
    flex-direction: column;
}

.block5_content_text_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}



.block5_content_text h1 {
    text-align: center;
    margin: 30px 0;
    color: #6d4546;

}


.block5_content_text h1::after {

    content: url(../img/bgr_bottom.png);
    display: block;

}


.block5_content_text_item div h4 {
    text-transform: uppercase;
    font-weight: bold;
    color: #6b181e;

    transition: color 1s;

}


.block5_content_text_item img {

    margin: 0 40px 0 0;
    width: 70px;


}
.block5_content_text_item:hover img {

    animation-duration: 1s;
    animation-fill-mode: both;
    transform-origin: top center;
    animation-name: imgShake;
}

@keyframes imgShake {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}
































.block5_content_text_item:hover i,  .block5_content_text_item:hover div h4{
    color: #d7c6be;
}










#block6 {
    background-image: url(../img/26.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: justify;
}



.block6_item{
    background: #f5f1ef;
    background: linear-gradient(to right, #f5f1ef 50%, transparent);
    border-bottom-left-radius: 10%;
    box-shadow: -3px 3px 1px;



}

.block6_item_content{
    max-width: 900px;
    margin: 30px;
    padding: 30px;
    text-indent: 15px;

    opacity: 0;


}



.block6_item_content h1 {
    text-align: center;
    color: #6d4546;
}



.block6_item_content h1::after {

    content: url(../img/bgr_bottom.png);
    display: block;
}







#block7 {
    padding: 50px;
    position: relative;

}


.block7_title {
    text-align: center;
    margin-bottom: 20px;
}


.block7_title h1::after {

    content: url(../img/bgr_bottom.png);
    display: block;

}














#block8 {

    background-image: url(../img/9.jpg);
    background-attachment: fixed;
    padding: 50px 0;
    color:  #f5f1ef;
    text-align: center;


}

.block8-content h1 {
    font-size: 40px;
    padding: 0;
    margin-bottom: 50px;
    color: 	 #f5f1ef;
    text-shadow: 2px 2px #060606;
}

.form_cont {
    display: flex;
    flex-direction: column;
}

.form-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form_items {
    width: 100%;
    padding: 20px;
}
.form_items input {
    opacity: 0;
}
.form_items input{
    background-color: rgba(6, 6, 6, .3);
    border-color: #d7c6be;
    border-radius: 5px;
    color: #d7c6be;
    height: 50px;
    width: 100%;

    transition: .5s background-color;
}

.form_items input:focus{
    background-color: rgba(109, 69, 70, .3);
}
input {
    outline-color: rgba(107, 24, 30, .7);
    outline-width: 5px;
}

#InputMess {
    min-height: 100px;
}

.form_items input::-webkit-input-placeholder {
    color: #f5f1ef;
    padding-left: 30px;
}
.form_items input::-moz-placeholder {
    color: #f5f1ef;
    padding-left: 30px;
}


























.my_btn {
    background-color: rgba(6, 6, 6, .7);
    border: none;
    border-radius: 20% 5%;
    text-transform: uppercase;
    color: #d7c6be;
    padding: 10px 15px;
    margin-top: 50px;

    transition: 1s background-color;
    transition: 1s color;

}

.btn_lg {
    padding: 0 30px;
    height: 70px;
    font-size: 150%;
    background-color: rgba(107, 24, 30, .8);
    border-radius: 20% 5%;
    margin-top: 30px;

}

.my_btn:hover {
    background-color: rgba(245, 241, 239, .9);
    color: #6d4546;
}

.my_btn:disabled {
    background-color: rgba(107, 24, 30, .8);
}






footer {
    padding: 30px 0 50px 0;
    background-color: #3e2828;
    min-height:200px;

    color: 	 #ece3df;

}
.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.footer-logo h1 {
    text-transform: capitalize;
    color: #cdb1b2;
    font-weight: bold;
    margin: 0 0 50px 0 ;

}

.footer-logo h1, .footer_item h3  {
    font-family: 'MyriadPro';

}

.footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.footer_item {
    min-width: 300px;
    padding: 0 30px;
}
.footer_item h3 {
    font-weight: bold;
    margin-bottom: 30px;
    color: #ece3df;

}

.footer_item div {
    display: flex;
    flex-direction: row;

}

.footer_item div span  {
    font-size: 36px;
    color: #cdb1b2;
    padding-right: 30px;
}

.footer_item div div{
    display: flex;
    flex-direction: column;
}



.footer_item div div p {
    margin-bottom: 0;
}
.footer_item div div a {
    font-size: 16px;
    color: #ece3df;
    text-decoration: none;
}
hr {
    margin-right: 30px;
    border-color: #6d4546;
}

.footer_item div div a:hover, .footer_item h3:hover{
    color: #cdb1b2;
}


.item_workday p{
    margin: 0 0 0 30px;
}











































.fade-up {

    animation-name: fade-up;
    animation-duration: .7s;
    animation-fill-mode: both;
}



@keyframes fade-up {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}



.fade-left {

    animation-name: left;
    animation-duration: .7s;
    animation-fill-mode: both;
}





@keyframes left {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}



.fade-right {

    animation-name: right;
    animation-duration: .7s;
    animation-fill-mode: both;
}

@keyframes right {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}








